<h1>ジャンル一覧</h1>

<ul>
  <% @genres.each do |genre| %>
  <p>ジャンル名</p>
    <span>
      <%= link_to genre.name, "/genres/#{genre.id}" %>
    </span>
  <% end %>
</ul>
<%= link_to "新規作成", new_genre_path %>