<h1>ジャンル一覧</h1>
<%= link_to "新規作成", new_admin_genre_path %>
<% @genres.each do |genre| %>
  <li><%= link_to genre.name, "/admin/genres/#{genre.id}" %> - <%= link_to"削除", admin_genre_path(genre.id), method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
<% end %>